logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/projectFilesBackup
/.classpath
/.project
/project/.idea
/RUNNING_PID
/.settings
node_modules
atlassian-ide-plugin.xml
/bower_components
/myactivator.bat
*.log
/bin/
.cache-*